<!DOCTYPE html>
<html>
  <head>
    <title>(주)코마일 & (주)인라이플 문맥타겟팅</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css
    '/>
  </head>
  <body>
    문맥타겟팅 프로젝트 샘플입니다. <br>
    서버의 하드웨어가 좋은게 아니라 조금 느릴 수 있습니다. <br>
    원하시는 뉴스본문을 복사 + 붙여넣기 하여 아래에 넣어주세요. <br>
    <b>- (주)코마일 대표 유승재 - </b>
    <div class='ui container'>
      <h2 style='margin-top: 20px;'>(주)코마일 & (주)인라이플<br>문맥 타겟팅 키워드 추출</h2>
      <form action='/' method='POST' class='ui form'>
        <textarea name='text'></textarea>
        <button type='submit' class='ui button'>
          submit
        </button>
      </form>
      <div class='ui list'>
        <% for (var i  = 0; i < keywords.length; i++) { %>
          <div class='item'><%= keywords[i] %></div>
        <% } %>
      </div>
    </div>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js'></script>
    <script>
      (function($) {
        $('.ui.form').submit(function() {
          var el = $(this).find('[type=submit]');
          el.addClass('loading');
          el.attr('disabled', true);
          $('.ui.list').html('');
        });
      }(jQuery));
    </script>
  </body>
</html>
