<!DOCTYPE html>
<html>
  <head>
    <title>(주)코마일 키워드 추출 데모버전</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css'/>
    <meta name='viewport' content='width=device-width, user-scalable=no'>
  </head>
  <body>
  </p>
    <div class='ui container'>
      <h2 style='margin-top: 20px;'>키워드 추출 Demo ver.</h2>
      <form action='/' method='POST' class='ui form'>
        <textarea name='text'></textarea>
        <button type='submit' class='ui button' style='margin-top: 20px;'>
          submit
        </button>
      </form>
      <div class='ui list keywords'>
        <% for (var i  = 0; i < keywords.length; i++) { %>
          <div class='item'><%= keywords[i] %></div>
        <% } %>
      </div>
      <div style='margin-bottom: 20px;'></div>
    </div>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js'></script>
    <script>
      (function($) {
        $('.ui.form').submit(function() {
          var el = $(this).find('[type=submit]');
          el.addClass('loading');
          el.attr('disabled', true);
          $('.ui.list').html('');
        });
      }(jQuery));
    </script>
  </body>
</html>
